name: 'Dependencies'
on: 
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          base-ref: ${{ github.event_name == 'pull_request' && '' || 'HEAD~1' }}
          head-ref: ${{ github.event_name == 'pull_request' && '' || 'HEAD' }}
